<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать поездку</title>
</head>
<body>
    <h2>Создать поездку</h2>
    <form action="/create_trip" method="post">
        <label for="start_country">Страна отправления:</label><br>
        <input type="text" id="start_country" name="start_country" required><br>
        <label for="finish_country">Страна назначения:</label><br>
        <input type="text" id="finish_country" name="finish_country" required><br>
        <label for="start_city">Город отправления:</label><br>
        <input type="text" id="start_city" name="start_city" required><br>
        <label for="finish_city">Город назначения:</label><br>
        <input type="text" id="finish_city" name="finish_city" required><br>
        <label for="departure_date">Дата отправления:</label><br>
        <input type="date" id="departure_date" name="departure_date" required><br>
        <label for="arrival_date">Дата прибытия:</label><br>
        <input type="date" id="arrival_date" name="arrival_date" required><br>
        <label for="stay_time">Продолжительность пребывания:</label><br>
        <input type="text" id="stay_time" name="stay_time" required><br>
        <label for="flight_time">Время полета:</label><br>
        <input type="text" id="flight_time" name="flight_time" required><br>
        <label for="rating">Рейтинг:</label><br>
        <input type="text" id="rating" name="rating" required><br><br>
        <input type="submit" value="Создать поездку">
    </form>
</body>
</html>
