<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать поездку</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<header>
    {% include 'header.html' %}
</header>
<body>
    <div class="container">
        <h2 class="h1">Создать поездку</h2>
        <form action="/create_trip" method="post">
            <div class="form-group">
                <label for="start_country">Страна отправления:</label>
                <input type="text" class="form-control" id="start_country" name="start_country" required>
            </div>
            <div class="form-group">
                <label for="finish_country">Страна назначения:</label>
                <input type="text" class="form-control" id="finish_country" name="finish_country" required>
            </div>
            <div class="form-group">
                <label for="start_city">Город отправления:</label>
                <input type="text" class="form-control" id="start_city" name="start_city" required>
            </div>
            <div class="form-group">
                <label for="finish_city">Город назначения:</label>
                <input type="text" class="form-control" id="finish_city" name="finish_city" required>
            </div>
            <div class="form-group">
                <label for="departure_date">Дата отправления:</label>
                <input type="date" class="form-control" id="departure_date" name="departure_date" required>
            </div>
            <div class="form-group">
                <label for="arrival_date">Дата прибытия:</label>
                <input type="date" class="form-control" id="arrival_date" name="arrival_date" required>
            </div>
            <button type="submit" class="btn btn-primary">Создать поездку</button>
        </form>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</html>
