<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис Путешествий</title>
</head>
<body>
    <h1>Добро пожаловать в Сервис Путешествий</h1>
    <p>Это веб-сервис для планирования и управления вашими поездками.</p>
    <h2>Навигация</h2>
    <ul>
        <li><a href="/create_trip">Создать Поездку</a> - Запланируйте свое следующее приключение.</li>
        <li><a href="/trips_history">История Поездок</a> - Просмотрите свои прошлые поездки.</li>
        <li><a href="/rate_place">Оценить Место Поездки</a> - Оцените место, которое вы посетили.</li>
    </ul>
</body>
</html>
