<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <h1>Добро пожаловать в LeapKeep!</h1>
            <p class="lead">Подготовьтесь к невероятным приключениям!
                Мы предлагаем вам уникальный сервис для планирования вашего следующего путешествия.
                Не важно, куда вы собираетесь — наслаждайтесь удобством и надежностью нашего инструмента
                для создания идеального маршрута, организации активностей и бронирования размещения.</p>
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-light fw-bold border-black bg-gray">Попробовать</a>
            </p>

            <h1>Добро пожаловать в LeapKeep!</h1>
            <p class="lead">Подготовьтесь к невероятным приключениям!
                Мы предлагаем вам уникальный сервис для планирования вашего следующего путешествия.
                Не важно, куда вы собираетесь — наслаждайтесь удобством и надежностью нашего инструмента
                для создания идеального маршрута, организации активностей и бронирования размещения.</p>
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-light fw-bold border-black bg-gray">Попробовать</a>
            </p>

            <h1>Добро пожаловать в LeapKeep!</h1>
            <p class="lead">Подготовьтесь к невероятным приключениям!
                Мы предлагаем вам уникальный сервис для планирования вашего следующего путешествия.
                Не важно, куда вы собираетесь — наслаждайтесь удобством и надежностью нашего инструмента
                для создания идеального маршрута, организации активностей и бронирования размещения.</p>
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-light fw-bold border-black bg-gray">Попробовать</a>
            </p>

            <h1>Добро пожаловать в LeapKeep!</h1>
            <p class="lead">Подготовьтесь к невероятным приключениям!
                Мы предлагаем вам уникальный сервис для планирования вашего следующего путешествия.
                Не важно, куда вы собираетесь — наслаждайтесь удобством и надежностью нашего инструмента
                для создания идеального маршрута, организации активностей и бронирования размещения.</p>
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-light fw-bold border-black bg-gray">Попробовать</a>
            </p>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
