<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <div class="container_auth">
        <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Вход</h1>
        {% if error %}
          <div class="alert alert-danger my-3">{{ error }}</div>
        {% endif %}
            <form action="/login" method="POST">
                <div class="form-floating">
                    <input type="email" id="email" name="email" class="form-control" placeholder="example@mai.ru">
                    <label for="email">Электронная почта:</label>
                    </div>
                    <div class="form-floating">
                    <input type="password" id="password" name="password" class="form-control" placeholder="password">
                    <label for="password">Пароль:</label>
                    </div>
                  <button class="btn btn-primary w-50 py-2" type="submit">Войти</button>
            </form>
            <p>Еще не зарегистрированы? <a href="/register">Зарегистрируйтесь здесь</a>.</p>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>