<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Посмотреть оценки</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        <div class="container_for_places">
            <h1 class="h1">Оценки Городов</h1>
            <table class="trip-table">
                <thead>
                    <tr>
                        <th>Название Города</th>
                        <th>Рейтинг</th>
                        <th>Комментарии</th>
                    </tr>
                </thead>
                <tbody>
                    {% for place in places %}
                    <tr>
                        <td>{{ place.place_name }}</td>
                        <td>{{ place.rating }} / 10</td>
                        <td>
                            <ul>
                                {% for comment in place.comments %}
                                <li><strong>@{{ comment.name }}</strong> {{ comment.content }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
