<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оценить место</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
      {% include 'header.html' %}
    </header>
    <div class="container_auth">
        <h1 class="h1">Оценить место</h1>
        <form action="/rate_place" method="post" class="rate-place-form">
            <div class="form-group">
                <label for="place_name">Название места:</label>
                <input type="text" id="place_name" name="place_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="rating">Рейтинг:</label>
                <input type="number" id="rating" name="rating" min="1" max="10" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Оценить</button>
        </form>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
