<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оценить место</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header class="header">
        <div class="footer-nav">
          <div class="d-flex flex-wrap justify-content-center py-3 mb-4 align-items-center">
            <a href="/" class="me-5 mb-3 mb-md-0 link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">LeapKeep</span>
            </a>
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
              <li class="nav-item"><a href="/create_trip" class="nav-link">Создать Поездку</a></li>
              <li class="nav-item"><a href="/trip_details" class="nav-link">История Поездок</a></li>
              <li class="nav-item"><a href="/rate_place" class="nav-link">Оценить Место</a></li>
              <li class="nav-item"><a href="/places" class="nav-link">Оценки пользователей</a></li>
              <li class="nav-item"><a href="/profile" class="nav-link">Личный кабинет</a></li>
            </ul>
          </div>
        </div>
      </header>
    <div class="container_auth">
        <h1 class="h1">Оценить место</h1>
        <form action="/rate_place" method="post" class="rate-place-form">
            <div class="form-group">
                <label for="place_name">Название места:</label>
                <input type="text" id="place_name" name="place_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="rating">Рейтинг:</label>
                <input type="number" id="rating" name="rating" min="1" max="10" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Оценить</button>
        </form>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
