<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История поездок</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        .trip-table tbody tr {
            line-height: 2.0;
        }

        .trip-table td {
            padding: 10px 5px;
        }
    </style>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        <div class="container_for_history">
            <h1 class="h1">Детали Поездок</h1>
            <table class="trip-table">
                <thead>
                    <tr>
                        <th>Страна отправления</th>
                        <th>Город отправления</th>
                        <th>Страна назначения</th>
                        <th>Город назначения</th>
                        <th>Дата отправления <span class="calendar-icon"></span></th>
                        <th>Дата прибытия <span class="calendar-icon"></span></th>
                        <th>Продолжительность пребывания</th>
                        <th>Промежуточные точки</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in trips %}
                    <tr>
                        <td>{{ trip.start_country }}</td>
                        <td>{{ trip.start_city }}</td>
                        <td>{{ trip.finish_country }}</td>
                        <td>{{ trip.finish_city }}</td>
                        <td>{{ trip.departure_date }}</td>
                        <td>{{ trip.arrival_date }}</td>
                        <td>{{ trip.stay_time }} дней</td>
                        <td>
                            <ul>
                                {% for point in trip.points %}
                                <li>{{ point.country_point }} - {{ point.city_point }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <form action="https://www.booking.com/searchresults.ru.html" method="get" target="_blank">
                                <input type="hidden" name="ss" value="{{ trip.finish_city }}">
                                <input type="hidden" name="depart_date" value="{{ trip.departure_date }}">
                                <input type="hidden" name="return_date" value="{{ trip.arrival_date }}">
                                <button class="btn buy1" type="submit">Бронь отеля</button>
                            </form>
                            <form action="https://www.aviasales.ru/search" method="get" target="_blank" style="margin-top: 10px;">
                                <input type="hidden" name="origin" value="{{ trip.start_city }}">
                                <input type="hidden" name="destination" value="{{ trip.finish_city }}">
                                <input type="hidden" name="depart_date" value="{{ trip.departure_date }}">
                                <input type="hidden" name="return_date" value="{{ trip.arrival_date }}">
                                <button class="btn buy2" type="submit">Купить билет</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
