<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать поездку</title>
</head>
<body>
    <h1>История поездок</h1>
    <table>
        <tr>
            <th>Страна отправления</th>
            <th>Страна назначения</th>
            <th>Город отправления</th>
            <th>Город назначения</th>
            <th>Дата отправления <span class="calendar-icon"></span></th>
            <th>Дата прибытия <span class="calendar-icon"></span></th>
            <th>Продолжительность пребывания</th>
            <th>Продолжительность полета</th>
        </tr>
        {% for trip in trips %}
        <tr>
            <td>{{ trip.start_country }}</td>
            <td>{{ trip.finish_country }}</td>
            <td>{{ trip.start_city }}</td>
            <td>{{ trip.finish_city }}</td>
            <td>{{ trip.departure_date }}</td>
            <td>{{ trip.arrival_date }}</td>
            <td>{{ trip.stay_time }}</td>
            <td>{{ trip.flight_time }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
