<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История поездок</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        <div class="container_for_history">
            <h1 class="h1">Детали Поездок</h1>
            <table class="trip-table">
                <thead>
                    <tr>
                    <th>Страна отправления</th>
                    <th>Страна назначения</th>
                    <th>Город отправления</th>
                    <th>Город назначения</th>
                    <th>Дата отправления <span class="calendar-icon"></span></th>
                    <th>Дата прибытия <span class="calendar-icon"></span></th>
                    <th>Продолжительность пребывания</th>
                    <th>Продолжительность полета</th>
                </tr>
            </thead>
                {% for trip in trips %}
                <tr>
                    <td>{{ trip.start_country }}</td>
                    <td>{{ trip.finish_country }}</td>
                    <td>{{ trip.start_city }}</td>
                    <td>{{ trip.finish_city }}</td>
                    <td>{{ trip.departure_date }}</td>
                    <td>{{ trip.arrival_date }}</td>
                    <td>{{ trip.stay_time }} дней</td>
                    <td>{{ trip.flight_time }} часов</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
